/*Reseto de sitio*/
* {box-sizing:border-box;
    padding: 0;
    margin:0;
}

.top {     
    padding: 2px;
    font-family: roboto;
    font-weight:400;
    font-size:15px;
    line-height: 17.58px;
    width: 1024px;
    height: 38px;
    left: 0px;
    top: 0px;
    background-color: #1CD1B0;
}

.bottom {
    padding: 10px 0 0 5px ;
    width: 1024px;
    height: 101px;
    left: 0px;
top: 38px;
font-family: roboto;
    font-weight:400;
    font-size:30px;
    line-height: 35.16px;
background-color:#00669F;
}

p.nombretienda {
  
 position: relative;
 top: 15px;
 right: -100px;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
color:white;

}


#profile { 
    max-width:100px;
    max-height:100px;
    border-radius:100%;
    z-index: 2;
    position: absolute;
    top: 26%;
    left: 33%;}

.padre {display:flex;
justify-content: space-around;

width: 1024px;
height: 700px;
background-color: white;
font-family: roboto;
font-size:16px;
}
img {position: absolute;
    max-width:100%;
    max-height:100%;}

.caja {  position: relative;
    display: flex;
width: 300px;
height: 529px;
background-color: #F3F3F3;
border: solid green 3px;
}




h2 {
    position: absolute;
    z-index: 2;
    
    align-self: center;
 
}

p {position: absolute;
    padding: 5px;
    text-align: justify;
    top: 60%;

}

#footer {
        width: 1024px;
        height: 51px;
        left: 0px;
        top: 972px;
        background-color:#00669F;
        color: #FFF9F9;
        font-family: roboto;
        font-weight:400;
        font-size:16px;
        line-height: 18.75px;
        padding: 5px;
}